body {
	background:#71236b;
}
/*NAVIGATION*/
.icon-bar {
	background:white;
}
.navbar {
	background:#71236b;
	border:none;
}
.nav a {
	font-size:25px;
	color:white;
	font-family: 'Roboto Slab', serif;
	background:#00b1a9;
	margin:2em 0.5em;
	font-weight:300;
}
/*SVG*/
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer #Layer_1 {
	position:absolute;
	z-index:10;
	bottom:0;
	height:600px;
	left:10%;
}