body {
	background:#fff;
	font-family:"Open Sans", sans-serif;
}
#header {
	background:#71236b;
	width:100%;
	position:fixed;
	z-index:2;
}
.logo {
	padding-top:1em;
	margin:0 auto;
	padding-left:2em;
	padding-bottom:1em;
}
.logo img {
	width:100px;
}
.headline {
	margin-top:8em;

}
/*Typography*/
h1 {
	font-family:"Pacifico", cursive;
	font-size:70px;
	text-align:right;
	color: #00b1a9;
	text-shadow:1px 1px #3be2da;
	position:absolute;
	right:20px;
}
h2 {
	font-size:16px;
	position:absolute;
	right:40px;
	margin-top:7.5em;
	color: #88bbb9;
	text-shadow:0.5px 0px grey;
}
h3 {
	font-size:23px;
	font-weight:600;
}
h4 {
	font-size:18px;
}
p {
	line-height:30px;
}
br {
	line-height:40px;
}
strong {
	color:#00b1a9;
}
/*Button*/
#cta {
	color:white;
	background:#00b1a9;
	border:#00b1a9;
	box-shadow:1px 1px #3be2da;
	margin-top:20em;
	position:absolute;
	right:20px;
	border-radius:0;
	padding:0.7em 1em;
	font-size:15px;
}
#more, #do, #learn {
	color:white;
	background:#00b1a9;
	border:#00b1a9;
	box-shadow:1px 1px #3be2da;
	margin-top:3em;
	margin-bottom:2em;
}
#do {
	margin-top:1em;
}
#learn a{
	color:white;
	text-decoration:none;
}
/*SVG*/
#Layer_1 {
	height:70vh;
	position:fixed;
	left:-300px;
	bottom:0;
	z-index:-2;
}
#donate {
	background:red;
	border-radius:0;
	border:none;
	margin:2em 0.5em 0 0.5em;
}
#donate a {
	padding-right:1em;
	padding-left:1em;
	color:white;
	text-decoration:none;
}
#findout a {
	color:white;
	text-decoration:none;
}
#findout {
	background: #00b1a9;
	color:white;
	border-radius:0;
	border:none;
	margin:2em 0.5em 0 0.5em;
}
/*CONTENT*/
#content {
	background:rgba(255,255,255,0.9);
	display:none;
	max-width:500px;
	border-radius:0.5em;
	margin-top:10em;
	height:80vh;
}
#content p {
	font-size:20px;
}
#what, #who, #how {
	padding-top:1em;
}
#who {
	display:none;
}
#how {
	display:none;
}
#how p {
	padding-top:2em;
}
/*GRAPHS*/
.surgery, .eatingdisorders {
	list-style:none;
	padding:0;
	width:50%;
}
.surgery li, .eatingdisorders li {
	position:relative;
	margin: 0  0 2px 0;
	padding:.5em;
}
.surgery em, .eatingdisorders em {
	display:block;
	margin-left:2em;
	text-align:right;
	margin-left:2em;
}
.surgery li span, .eatingdisorders li span {
	position: absolute;
	bottom:0;
	left:0;
	display:block;
	height:100%;
	padding-left:.2em;
	line-height:2.1;
	background:#3be2da;
}
.womensurgery span {
	width:40%;
}
.mensurgery span{
	width:20%;
}
.minor span {
	width:60%;
}
.older span{
	width:1%;
}
/*FOOTER*/
.footer {
	position:fixed;
	bottom:0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 6vh;
  	background-color: white;
  	opacity:0.5;
  	font-size:10px;
}

/*MEDIA QUERIES*/
@media screen and (min-width:400px) {
	h1 {
		font-size:90px;
	}
	h2 {
		right:65px;
		margin-top:8em;
	}
}
@media screen and (min-width:550px) {
	h1 {
		font-size:100px;
	}
	.headline {
		margin-top:18em;
	}
 	#content { 
 		position:relative;
 		height:600px;
 	}
 	#content .btn {
 		position:absolute;
 		right:30px;
 	}
 	#cta {
 		margin-top:15em;
 		padding:0.7 1.5em;
 		font-size:16px;
 	}
}
@media screen and (min-width:768px) {
	#header .logo {
		padding-left:8em;
	}
	#content{
		margin-left:20em;
	}

}
@media screen and (min-width:992px) {
	#Layer_1 {
		left:-200px;
	}
	h1 {
		font-size:120px;
	}
	h2{
		right:85px;
		font-size:20px;
	}
	#header .logo {
		padding-left:15em;
	}
	#content {
		margin-left:35em;
	}
}
@media screen and (min-width:1200px) {
	#content {
		margin-left:50em;
	}
}
@media screen and (min-width:1400px) {
	#Layer_1 {
		left:20px;
	}
}